*{
  padding: 0;
  margin:0;
}

body{
  background-color: rgb(241, 240, 240);
  width:100%;
  height:100vh;
  overflow: hidden;
}

nav{ 
  width:100%; 
  height:5%; 
  display:flex; 
  align-items: center; 
  justify-content:space-between; 
  padding:20px; 
  filter: blur(0.1px);
  font-size: larger;
} 


.nav-items{ width:40%; list-style-type:none; display:flex; gap:5em; /* justify-content: space-around; */ align-items: center; } 

.nav-items a{ text-decoration: none; color:black; } 

.nav-items a:hover{ color: #131212af; } 

.logo-container{ width:30%; } 

.logo{ height:3em; width:3em; border-radius: 50%; } 

.divider{
  border: 0.3px solid rgb(95, 94, 94);
  margin: 0.3em;
}

main{ display:flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: flex-start;
  height:90%;
  width:100%;
  padding:0em 3em;
  /* gap:0.2em; */
} 


aside{ width:20%; height:100%; display:flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; font-size: larger;background-color: rgb(241, 232, 232); padding:0em 0em;}  

aside a{ text-decoration: none; color:black; padding:0.4em 2em; margin:0;width:100%; box-sizing: border-box; } 

aside a:hover{ background-color: rgb(216, 201, 201); border:1px solid grey; width: 100%;}

.active{
  background-color:  rgb(216, 208, 208);
  border:1px solid rgb(107, 105, 105);
  width: 100%;
  cursor: default;
}

.active:hover{
  background-color: rgb(216, 208, 208);
}

details{
  width:75%;
  height:80%;
  padding: 1em;
}

.location-container{
  width:40%;
  height:30vh;
  display:flex;
  flex-direction: column;
  gap:1em;
  justify-content: center;
  align-items: center;
  background: rgba(218, 104, 104, 0.2); /* semi-transparent white */
  backdrop-filter: blur(10px);          /* applies blur only to background */
  -webkit-backdrop-filter: blur(10px); 
}

.location-container button{
  padding:0.5em 1em;
  font-size: 1.2em;
  border-radius: 10px;
  border:1px solid grey;
  cursor: pointer;
  background-color: rgb(218, 104, 104);
  color:white;
}